@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&family=Silkscreen&display=swap');

body{
    font-family: 'Silkscreen', cursive;
    background-color: #041562;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color : #DA1212;
    font-size: 60px;
    font-family: 'Silkscreen', cursive;
}

.subtitulo{
    color : white;
    font-size: 28px;
}

.tarjetas,.tarjetas-ataques{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 190px;
    height: 100px; 
    background: #aee8f1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}

#boton-mascota{
    width: 150px;
    height: 36px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white; 
    font-family: 'Poppins', sans-serif;
    margin: 20px;  
}

.tarjeta-de-mokepon img {
    width: 80px;
}


input{
   display: none;
}

input:checked + label{
    background-color: #0b3aa7;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50px;
    border-color: transparent;
    font-family: 'Silkscreen', cursive;
}

#mensajes{
    width: 280px;
    background: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: .80;
}

#resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reiniciar{
    display: flex;
    justify-content: center;
}

#boton-reiniciar{
    width: 180px;
    background: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    font-family: 'Silkscreen', cursive;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: black;
    display: flex;
    gap: 120px;
    opacity: .60;
}


#vidas-jugador, #vidas-enemigo{
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background: #8dc5dc;
    padding: 46px;
    margin-top: 20px;
    border-radius: 20px;
}

.ataques-enemigo{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background: #8dc5dc;
    padding: 46px;
    margin-top: 20px;
    border-radius: 20px;

}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#ver-mapa button{
    width: 80px;
    height: 36px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white; 
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;  
}


@media (max-width: 560px ){
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}

@media (max-width: 300px ){
    #ver-mapa div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}